*{
	font-family: open sans;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
}

hr{
	max-width: 65px;
}

h1{
	font-weight: 200;
	font-size: 22px;
}

h2{
	font-size: 18px;
}

h3{
	font-size: 15px;
}

h4{
	font-weight: 800;
}

nav{
	padding-top: 50px;
}

br{
	padding-top: 200px;
}

div {
	padding-top: 70px;
}

li{
	 list-style-type: none;
	 list-style-position: inside;
}

ul{
	padding: 0;
}

a {
    color: orange;
    font-weight: 300;
    text-decoration: none;
}

.black{
	border: 1px solid black;
	max-height: 200px;
	padding: 10px;
	margin: 10px;
	box-shadow: 10px 10px #EDEDED;
}

.orange{
	border: 2px solid orange;
	border-radius: 100px;
	max-height: 150px;
	padding: 10px;
}